body{
	min-width: 320px;
	font-family: Montserrat;
}

/*Главный экран*/

.main__screen{
	background: url(../img/main_screen.png) no-repeat;
	background-size: cover;
    width: 100%;
	min-height: 100vh;
}

li a .home{
	font-weight: 900;
}

li a:hover{
	border-bottom: 1px solid white;
	padding-bottom: -1px;
	margin-bottom: -2px;
	transition: all 0.3s;
}

a p{
	padding: 0;
	margin: 0;
}

.nav-item{
	margin-left: 35px;
	transition: all 0.3s;
}

.navbar{
	padding-top: 50px;
	padding-bottom: 50px;
	transition: all 0.9s
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    transition: all 0.3s;
}

.navbar-toggler span{
	display: block;
	width: 20px;
	height: 2px;
	border: 1px;
	background: white;
	transition: all 0.3s;
}

.navbar-toggler span + span{
	margin-top: 5px;
	transition: all 0.3s;
}

div .navbar-collapse, .collapse, .show{
    padding-top: 20px;
    border: none;
	outline: none;
	transition: all 0.3s;
}

div .navbar-collapse, .collapse, .show .nav-item{
	margin-left: 1px;
	transition: all 0.3s;
}

.offer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 188px 0 119px 0;
}

@media screen and (max-width: 767px) {
	.offer{
		padding: 94px 0 122px 0;
	}
	.offer__name{
		padding-bottom: 1241px;
	}
}

.text{
	color: white;
	font-size: 24px;
}

.line{
	background-color: white;
	width: 151px;
	height: 1px;
	margin: 10px auto 0 auto;
}

.offer__name{
	font-family: MuseoModerno;
	font-style: normal;
	font-weight: normal;
	font-size: calc(50px + 46 * (100vw / 1600));	
	color: #FFE55B;
	padding-bottom: 83px;
}

.offer__btn{
	text-decoration: none;
	width: 225px;
	height: 47px;
	background-color: #595959;
	box-shadow: 0px 0px 9px rgba(255, 255, 255, 0.25);
	border-radius: 50px;
	border: none;
	outline: none;
	text-decoration: none;
	color: white;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
}

.offer__btn:hover{
	background-color: #949494;
	transition: all 0.3s;
}

div#about{
	color: white;
	margin-top: 119px;
	opacity: 0;
}








/*Секция обо мне*/

.about{
	background-color: #0C0C0C;
	padding: 110px 0 145px 0;
}

.about .container .row{
		display: flex;
		align-items: center;
		justify-content: center;
}

@media screen and (max-width: 1399px){
	.tittle{
		margin-top: 100px;
	}
	.about__photo{
		text-align: center;
	}
}




.about__photo img{
		width: calc(250px + 120 * (100vw / 1600));
	}

.about__me{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tittle{
	font-weight: 300;
	font-size: 24px;
	color: white;
}

.text{
	color: white;
	font-size: 18px;
	font-weight: 300;
}

.text span{
	font-weight: 700;
}

@media screen and (max-width: 576px){
	.text p{
		text-align: justify;
	}

	br{
		display: none;
	}
}





.about__aims{
	color: white;
	margin-left: 12px;
}

.about__aims p span{
	font-weight: 700;
}

.about__aims p:nth-child(3){
	text-align: right;
	border-left: 1px solid white;
	font-size: 14px;
	padding: 32px 0 32px 26px;
	font-weight: 200;
}

.about__aims p:nth-child(1){
	border-right: 1px solid white;
	font-size: 14px;
	padding: 32px 0px 32px 0;
	font-weight: 200;
}

.about__aims p:nth-child(2){
	text-align: center;
	padding: 23px 50px 23px 50px;
	font-size: 14px;
	font-weight: 200;	
}

@media screen and (max-width: 767px){
	.about__aims{
		flex-direction: column;
	}

	.about__aims p:nth-child(3){
		text-align: left;
		border-left: none;
		padding: 0 0 0 0;
		display: inline-block;
	}

	.about__aims p:nth-child(1){
		text-align: left;
		border-right: none;
		padding: 0 0 15px 0;
		display: inline-block;
	}

	.about__aims p:nth-child(2){
		text-align: left;
		padding: 0 10px 0 10px;
		padding: 0 0 15px 0;
		display: inline-block;
	}

	.about__aims p:before{
		content: '';
		display: inline-block;
	 	width: 10px;
	 	height: 10px;
	 	margin-right: 10px;
	 	background-color: white;
	 	border-radius: 50px;
	}
}





.about__btn{
	text-decoration: none;
	width: 225px;
	height: 47px;
	background-color: white;
	box-shadow: 0px 0px 9px rgba(255, 255, 255, 0.25);
	border-radius: 50px;
	border: none;
	outline: none;
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
}

.about__btn:hover{
	background-color: #C4C4C4;
	transition: all 0.2s;
}


/*Мои навыки*/

.skills{
	background-color: #131313;
	padding: 125px 0 245px 0;
}

.skills .text{
	margin-top: 72px;
}

.skills p{
	font-weight: 300;
    font-size: 18px;
    color: white;
    text-align: left;
}

.skills__bg{
	width: 100%;
	height: 29px;
	background: #C4C4C4;
    border-radius: 30px;
}

.skills__line{
	width: 30%;
	height: 29px;
	background-color: #FFE55B;
	border-radius: 30px;
	box-shadow: 0px 0px 10px #FFE55B;
}

.css{
	width: 95%;
}

.js{
	width: 35%;
}

.ui{
	width: 50%;
}

.figma{
	width: 70%;
}

.skills__lines .row {
	margin-top: 145px;
}

@media screen and (max-width: 1399px) {
	.skills__lines .row{
		margin-top: 145px;
	}
	.skills__lines .row:nth-child(2){
		margin-top: 0px;
	}

	.skills__bg{
		margin-bottom: 50px;
	}

}






/* Мои работы*/

.works{
	background-color: #0C0C0C;
	text-align: center;
	padding: 120px 0 120px 0;
}


/* Слайдер MY WORKS*/

.slider{
	margin-top: 73px;
}

.slick-list{
	overflow: hidden;
}

.slick-track{
	display: flex;
	align-items: flex-start;
}


.slider{
	position: relative;
}

.slider .slider__item:active,
.slider .slider__item:focus,
.slider .slider__item:hover{
	border: none;
	outline: none;
	box-shadow: none
}

.slider .slick-arrow{
	margin-top: -80px;
	position: absolute;
	top: 50%;
	z-index: 2;
	font-size: 0;
	width: 25px;
	height: 40px;
	border: none;
}

.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/sl-arrow-l.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../img/sl-arrow-r.svg') 0 0 / 100%	 no-repeat;
}


.slider .slick-dots{
	display: flex;
	justify-content: center;
	padding-left: 0px;
	margin-top: 150px;
}

.slider .slick-dots li{
	list-style: none;
	margin: 0 10px;
}
.slider .slick-dots button{
	font-size: 0px;
	width: 10px;
	height: 12px;
	background: url('../img/slider-dot.svg') 0 0 / 100% no-repeat;
	border:none;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	font-size: 0px;
	width: 10px;
	height: 12px;
	background: url('../img/slider-dot-active.svg') 0 0 / 100% no-repeat;
	border:none;
}

.slick-slide{
	width: 250px;
}

.my-site{
	cursor: pointer;
}

@media screen and (max-width: 410px) {
	
	.slider .slider__item {
		opacity: 0;
	}
	.slider .slider__item.slick-center{
		opacity: 1;
	}
	.slider .slider__item.slick-center img{
		width: 180px;
	}
}


/* Контакты */

.contacts{
	background-color: #131313;
	padding: 120px 0 135px 0;
	text-align: center;
}

.contacts .text{
	margin-top: 40px;
	font-weight: 300;
	font-size: 18px;

}

.contacts__media{
	margin: 24px 0 24px 0;
}

.contacts__media a:hover{
	opacity: 0.4;
	transition: all 0.2s;
}

.contact__form{
	font-weight: 300;
	font-size: 18px;
	color: white;
}

.contact__form .row1{
	display: flex;
	text-align: left;
	justify-content: space-between;
	width: 50%	;
}

.form__input-user{
	margin: 24px 20px 50px 20px;
	width: 287px;
	height: 44px;
	background: #C4C4C4;
	border-radius: 20px;
	outline: none;
	border: none;
	padding-left: 27px;
	font-weight: bold;
}

.form__input-email{
	width: 287px;
	height: 44px;
	background: #C4C4C4;
	border-radius: 20px;
	outline: none;
	border: none;
	padding-left: 27px;
	font-weight: bold;
}

.textarea{
	
}

.textarea textarea{
	margin-top: 50px;
	width: 633px;
	height: 166px;
	background: #C4C4C4;
	border-radius: 20px;
	outline: none;
	border: none;
	padding-left: 27px;
	padding-top: 17px;
	font-weight: bold;
}

 input.submit{
	width: 225px;
	height: 47px;
	background: #FFE55B;
	box-shadow: 0px 0px 4px #FFE55B;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 50px;
	border: none;
	margin-top: 50px;
}

 input.submit:hover{
 	box-shadow: 0px 0px 10px #FFE55B;
 	background: #FFED8F;
 	transition: all 0.3s;
 }



@media screen and (max-width: 767px) {
	.form__input-user{
		margin-bottom: 0px;
	}
	.form__input-email{
		margin-top: 24px;
	}
	.textarea textarea{
		width: 333px;
		height: 100px;
		margin-top: 24px;
	}
}

@media screen and (max-width: 360px) {
	.form__input-user,
	.form__input-email{
		width: 230px;
		height: 30px;
		font-size: 13px;
	}

	.textarea textarea{
		width: 260px;
		max-height: 400px
		padding-left: 24px;
		padding-top: 10px;
		margin-top: 24px;
		font-size: 13px;
	}
}

/* Подвал */

footer{
	background-color: #0C0C0C;
	padding: 52px 0 52px 0;
	text-align: center;
	color: white;
}

footer a{
	color: white;
}

footer a:hover{
	color: #FFE55B;
}


@media screen and (max-width: 425px) {
	.about{
		padding: 4	0px 0 100px 0;
	}

	.skills{
		padding: 2	0px 0 80px 0;
	}
}